body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 40px;
}

.oreng-text {
  color: rgb(253, 109, 56);
}

.flex-section {
  display: flex;
  margin-bottom: 350px;
}

.new-flex-section {
  display: flex;
  margin-bottom: 250px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}

#only {
  padding-top: 5%;
}

.hire-button {
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(rgb(252, 149, 14), rgb(248, 84, 55));
  padding: 10px 40px;
  border-radius: 5px;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.my-dream {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.paragrap {
  color: #4d4d4d;
  text-align: justify;
  width: 750px;
}

.exp {
  padding-left: 5%;
  color: white;
  background-color: tomato;
  width: 400px;
  border-radius: 0 50px 50px 0;
  margin-bottom: 150px;
}

.exp-item {
  width: 40%;
  margin-left: 8%;
  margin-right: 8%;
  padding: 20px;
  border-radius: 0 15px 15px 0;
  box-shadow: 10px 10px 40px gray;
}

.expeience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position-y: 300px;
}

#line-one {
  border-left: 7px solid;
  border-image: linear-gradient(rgb(255, 0, 0), rgba(255, 153, 57, 0.986));
  border-image-slice: 1;
}

#line-two {
  border-left: 7px solid;
  border-image: linear-gradient(blue, rgb(14, 162, 247));
  border-image-slice: 1;
}

footer p {
  text-align: center;
}
